html {
    overflow: hidden;   
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;        
    margin: 0;
    overflow: hidden;     
}

.container {
    background-color: rgba(104, 54, 54, 0.226);
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;  
    max-height: 90vh;      
    overflow-y: auto; 
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #e65540;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    animation: fadein 2s forwards;
    text-decoration: none;
}

button:hover {
    background-color: #716d6a;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}





